
Hello2/target/se/extenda/scala/ChopTest.class

Hello2/target/se/extenda/scala/Chop.class

Hello2/target/se/extenda/scala/HelloApp$.class

Hello2/target/se/extenda/scala/HelloApp.class

Hello2/.cache

Hello2/.cache
